{% load custom_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="{% static 'artax/img/favicon.png' %}" rel="icon">
    <link href="{% static 'artax/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <link href="{% static 'artax/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'artax/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'artax/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
    <link href="{% static 'artax/vendor/simple-datatables/style.css'%}" rel="stylesheet">


    <link href="{% static 'artax/css/style.css'%}" rel="stylesheet">


    {% endblock %}

</head>
<body>

{% block header %}
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'index' %}" class="logo d-flex align-items-center" >
            <img src="{% static 'artax/img/png/logo.png' %}" style="height: 40px;" alt="">&nbsp;&nbsp;
            <span class="d-none d-lg-block">ZEENNY LAW </span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>


    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">


            <li class="nav-item dropdown">


            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.get_full_name }} </span>
                </a>

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>{{ user.get_full_name }} </h6>
                        <span>{{ user.job }}</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' %}">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' %}"
                           data-bs-target="#profile-edit">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'faq' %}">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul>
            </li>
            {% else %}
            <li class="nav-item pe-4">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="{% url 'login' %}">
                    <span class="d-none d-md-block ps-2">Login to access Artax&trade; features&nbsp;<i class="bi bi-box-arrow-in-right"></i></span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

</header>
{% endblock %}
{% block sidebar %}
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav collapsed" id="sidebar-nav">

        {% nav_link 'index' 'Dashboard ' 'grid' %}



        <li class="nav-heading">Books</li>
        {% nav_link 'all_books' 'Books' 'journal-bookmark' %}
        {% nav_link 'new_book' 'New Book' 'journal-plus' %}
        {% nav_link 'book_queries' 'Query Books ' 'search' %}

        <hr>
        <li class="nav-heading">Users</li>

        {% nav_link 'faq' 'F.A.Q' 'question-circle'%}
        {% nav_link 'contact' 'Contact' 'envelope' %}
        {% if user.is_staff %}
            {% nav_link 'register' 'Register' 'person-plus' %}
        {% endif %}
        {% if user.is_authenticated %}
            {% nav_link 'profile' 'Profile ' 'file-person' %}
            {% nav_link 'logout' 'Logout' 'box-arrow-right' %}
        {% endif %}


    </ul>

</aside>
{% endblock%}
{% block content %}{% endblock %}


<script src="{% static 'artax/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'artax/vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'artax/vendor/tinymce/tinymce.min.js' %}"></script>

<script src="{% static 'artax/js/main.js' %}"></script>


{% block footer %}
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>ARTAX</span></strong>. All Rights Reserved
    </div>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>




</body>
</html>
{% endblock %}