{% extends "artax/layout.html" %}
{% block title %}Login{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block sidebar %}{% endblock %}
{% load static %}
{% block content %}
<style>
  @media (min-width: 0px) {
  .logo {
    width: 350px;
  }
}
</style>
  <main>
  <a hidden="hidden" id="login-form"></a>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">

                  <img src="{% static 'artax/img/png/logo.png' %}" class="   logo" alt="">
<!--                  <img src="{% static 'artax/img/logo.png' %}" class="d-md-none" alt="">-->
<!--                  <span class="logo-small d-md-none">Business Name</span>-->
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter your username & password to login</p>
                      {% if messages %}
                          <ul class="messages">
                            {% for message in messages %}
                              <p>{{ message }}</p>
                          </ul>
                            {% endfor %}
                      {% endif %}

                  </div>

                  <form class="row g-3 needs-validation" action="{% url 'login' %}" method="post" novalidate id="login-form">
                    {% csrf_token %}
                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Username</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" name="username" class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback"></div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="rememberMe" value="True" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Forgot your credentials or having trouble signing in? Contact you IT administrator.</p>
<!--                      <p class="small mb-0">Don't have account? <a href="register.html">Create an account</a></p>-->
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
{% endblock %}