{% extends "artax/layout.html" %}
{% load static %}
{% block title %}403 Forbidden{% endblock %}
{% block footer %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}
  <main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>403</h1>
        <h2>Access to this page is forbidden. Login with an account with minimum clearance.</h2>
        <a class="btn" href="{% url 'index' %}">Go back</a>
        <img src="{% static 'artax/img/not-found.svg' %}" class="img-fluid py-5" alt="Page Not Found">
      </section>

    </div>
  </main>

{% endblock %}